<div class="row">
    <h1>Lilac & Willow Availability</h1>
</div>
<div class="row bg-light">
    <div class="col-sm-3">
        <h2 class="text-center">Schedule a Session Now!</h2>
        <h2>Ashley Campbell</h2>
        <div class="glyphicon glyphicon-phone col-xs-12">  (435)512-8850</div>
        <div class="glyphicon glyphicon-envelope col-xs-12">
            <a href="mailto:LilacWillowPhotography@gmail.com">  LilacWillowPhotography@gmail.com</a>
        </div>
    </div>
    <div class="col-sm-6 calendar">
        <iframe src="https://calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ccccff&amp;src=lilacwillowphotography%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FDenver" style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-sm-3"></div>
</div>