li {
    font-family: 'Brush Script MT';
    font-size: xx-large;
}

h1 {
    font-family: 'Brush Script MT';
    font-size: xx-large;
    margin: 10px;
}

.picture-wheel {
    border: 1px solid #d67dff;
    display: inline-block;
    max-height: 500px;
    overflow: visible;
    margin: 15px;
    vertical-align: middle;
}

.picture-wheel img {
    height: 450px;
}
