h1 {
    font-family: 'Kunstler Script';
    font-size: 650%;
    margin: 10px;
}

h2 {
    font-family: 'Brush Script MT'
}

* {
    margin: 0px;
}

.picture-wheel {
    max-height: 500px;
    overflow: visible;
    margin: 15px;
    vertical-align: middle;
}

.picture-wheel img {
    height: 500px;
    width: auto;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .picture-wheel {
        margin: 0;
        max-height: 250px;
    }

    .picture-wheel img {
        height: 250px;
    }

    div {
        margin-bottom: 10px;
    }
}
